<!DOCTYPE html>
<html>
{% block head %}
<head>
    <meta charset="UTF-8"/>
    <title>PTSD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
{% endblock %}
{% block stylesheets %}
{% endblock %}
    <body>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li id="home"><a href="{{ path('homepage') }}" style ="color: white">Home</a></li>
                <li id="tests"><a href="{{ path('ptsdtest')}}" style ="color: white">PTSD Test</a></li>
              <!--  <li id="about"><a href=""  style ="color: white">About us</a></li> -->
                <li id="exercises"><a href="{{ path('exercises') }}" style ="color: white">Exercises</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('adminprofile') }}" style ="color: white"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
                {% elseif is_granted('ROLE_USER') %}
                <li><a href="{{ path('profilepage') }}" style ="color: white"><span class="glyphicon glyphicon-user" style ="color: white"></span> Profile</a></li>
                {% else %}
                <li><a href="{{ path('fos_user_registration_register') }}" style ="color: white"><span class="glyphicon glyphicon-user" style ="color: white"></span> Sign Up</a></li>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_security_logout') }}" style ="color: white"><span class="glyphicon glyphicon-log-out" style ="color: white"></span> Logout</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}" style ="color: white"><span class="glyphicon glyphicon-log-in" style ="color: white"></span> Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container" style="margin-top:50px">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('asset/Javascript/Base.js') }}"></script>
    </body>
{% block body %}
{% endblock %}
{% block javascript %}
{% endblock %}

</html>
