{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('asset/CSS/Base.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('asset/CSS/Diary.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="rcorners diary">
            {{ form_start(diaryForm, {'attr': {'id': 'form_diary'}}) }}
            <h2 style="color: white"><b>Title:</b></h2>
            {{ form_row(diaryForm.title, {'attr':{'id': 'form_diary_title'}}) }}
            <h2 style="color: white"><b>Entry:</b></h2>
            {{ form_row(diaryForm.text, {'attr':{'id': 'form_diary_text'}}) }}
            {{ form_widget(diaryForm) }}
            {{ form_end(diaryForm) }}
        </div>
    </div>
{% endblock %}