{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ asset('asset/CSS/Base.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('asset/CSS/Profile.css') }}">
{% endblock %}
{% block body %}

    <h1>{{ result.result }}</h1>
    <div class="container">
        <div class="rcorners">
            <a href="{{ exercise.link }}">
                <h2>{{ exercise.title }}</h2>
                <p>{{ exercise.text }}</p>
            </a>
        </div>
    </div>

{% endblock %}