{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('asset/CSS/Base.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('asset/CSS/Admin.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
{% endblock %}

{% block body %}

    <div id="adminEditUser" class="container">
        <div class=" col-xs-4">

            <h3><b>Edit information for: </b>{{ user.getuserName }}</h3>
            <div class="rcorners">
                <h3><b>Current information:</b></h3>
                <p><b>Username:</b></p>
                <p>{{ user.getuserName }}</p>
                <p><b>Email Address:</b></p>
                <p>{{ user.getEmail }}</p>
                <hr>
                <h3><b>New information:</b></h3>
                {{ form_start(userform) }}
                <p><b>Username:</b></p>
                {{ form_row(userform.username) }}
                <p><b>Email:</b></p>
                {{ form_row(userform.email) }}
                {{ form_row(userform.submit, { 'attr' : { 'class': 'btn btn-success' } }) }}
                {{ form_widget(userform) }}
                {{ form_end(userform) }}
            </div>
        </div>

        <div class="col-xs-4">
            <h3>Diary Entries</h3>
            <div class=" diary rcorners">
                <hr>
                {% for Diary in diary %}
                    <p><b>Date:</b></p>
                    {{ Diary.createdAt|date("m/d/Y") }}
                    <p><b>Title:</b></p>
                    {{ Diary.title }}
                    <p><b>Show:</b></p>
                    <a href="{{ path('readDiary', { 'id' : user.getId, 'darId' : Diary.getId }) }}"><button type="button" class="btn btn-info">Show</button></a>
                    <hr>
                {% endfor %}
            </div>
        </div>

        <div class=" col-xs-4">
            <h3>Edit ICOE information</h3>
            <div class="rcorners">
                <h3><b>Current information:</b></h3>
                <p><b>Contact Person Name:</b></p>
                {% if icoe is null %}
                <p>No information</p>
                {% else %}
                {{ icoe.getContactPerson }}
                {% endif %}
                <p><b>Contact Person Phone:</b></p>
                {% if icoe is null %}
                <p>No information</p>
                {% else %}
                {{ icoe.getCpTelefon }}
                {% endif %}
                <p><b>Contact Person E-mail:</b></p>
                {% if icoe is null %}
                <p>No information</p>
                {% else %}
                {{ icoe.getCpEmail }}
                {% endif %}
                <p><b>Hospial Name:</b></p>
                {% if icoe is null %}
                <p>No information</p>
                {% else %}
                {{ icoe.getHospitalName }}
                {% endif %}
                <p><b>Hospital Address:</b></p>
                {% if icoe is null %}
                <p>No information</p>
                {% else %}
                {{ icoe.getHospitalAddress }}
                {% endif %}
                <p><b>Hospital Telephone:</b></p>
                {% if icoe is null %}
                <p>No information</p>
                {% else %}
                {{ icoe.getHospitalTlf }}
                {% endif %}
                <hr>
                <h3><b>New information:</b></h3>
                {{ form_start(icoeform) }}
                <p><b>Contact Person Name:</b></p>
                {{ form_row(icoeform.contactPerson) }}
                <p><b> Contact Person Phone: </b></p>
                {{ form_row(icoeform.cpTelefon) }}
                <p><b> Contact Person E-mail: </b></p>
                {{ form_row(icoeform.cpEmail) }}
                <p></p>
                <p><b> Hospial Name: </b></p>
                {{ form_row(icoeform.hospitalName) }}
                <p><b>Hospital Address: </b></p>
                {{ form_row(icoeform.hospitalAddress) }}
                <p><b>Hospital Telephone:</b></p>
                {{ form_row(icoeform.hospitalTlf) }}
                {{ form_row(icoeform.submit, { 'attr' : { 'class': 'btn btn-success' } }) }}
                {{ form_widget(icoeform) }}
                {{ form_end(icoeform) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
{% endblock %}