{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('asset/CSS/Exercises.css') }}" rel="stylesheet">
    <link href="{{ asset('asset/CSS/Base.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block body %}
    {% if is_granted('ROLE_USER') %}

        <p class="name" id="{{ userId }}"></p>
        {% for Exercises in exercises %}
            <div class="container">
                <div class="rcorners" id="{{ Exercises.id }}">
                    <a href="{{ Exercises.getLink }}">
                        <h1 class="exTitle" style="color: white"
                            name="{{ Exercises.title }}">{{ Exercises.getTitle }}</h1>
                        <p style="color: white">
                            {{ Exercises.getText }}
                        </p>
                    </a>

                    {% if user in Exercises.userFavorites %}
                        <a href="{{ path('toggleofffavorite', {'userId': userId, 'exId': Exercises.id }) }}">
                            <button type="button" class=" btn btn-danger toggleFavorite">Unfavorite</button>
                        </a>
                    {% else %}
                        <a href="{{ path('togglefavorite', {'userId': userId, 'exId': Exercises.id }) }}">
                            <button type="button" class=" btn btn-success toggleFavorite">Favorite</button>
                        </a>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>you do not have permission to see exercises <a href="{{ path('fos_user_registration_register') }}">Register
                here</a></p>
    {% endif %}

    <script src="{{ asset('asset/Javascript/Exercises.js') }}"></script>
{% endblock %}