{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('asset/CSS/Exercises.css') }}" rel="stylesheet">
    <link href="{{ asset('asset/CSS/Base.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block body %}
    {% if is_granted('ROLE_USER') %}

        {% for Exercises in exercises %}
            <div class="container">
                <div class="rcorners">
                    <a href="{{ Exercises.getLink }}">
                        <h1 style="color: white" id="{{ Exercises.id }}" name="{{ Exercises.title }}">{{ Exercises.getTitle }}</h1>
                        <p style="color: white">
                            {{ Exercises.getText }}
                        </p>
                    </a>
                    <a href="{{ path('toggleExercise', {'userId': userId.getId}) }}"><button type="button" class="showModal btn btn-success">Favorite</button></a>
                </div>
            </div>
        {% endfor %}

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2 id="modalHeader">Modal Header</h2>
                </div>
                <div class="modal-body">
                    <p>Some text in the Modal Body</p>
                    <p>Some other text...</p>
                </div>
                <div class="modal-footer">
                    <h3>Modal Footer</h3>
                </div>
            </div>

        </div>
    {% else %}
        <p>you do not have permission to see exercises <a href="{{ path('fos_user_registration_register') }}">Register
                here</a></p>
    {% endif %}

    <script src="{{ asset('asset/Javascript/Exercises.js') }}"></script>
    {% endblock %}